input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:host {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: #10191b;
    height: 100%;
}

.add-duty-form {
    background: #5e5e5e4f;
    border-radius: .8rem;
    padding: 10rem;

    & > label {
        margin-bottom: 1rem;
    }
}

.add-duty-input {
    border: none;
    font-size: 1.4rem;
    padding: .8rem;

    margin-bottom: 1rem;
}

.add-duty-submit {
    background-color: #dddddd4a;
    border: none;
    border-radius: 100%;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1.2rem;

    height: 2rem;
    width: 2rem;
}

.add-duty-submit--valid {
    background-color: white;
}

.add-duty-submit--valid:hover {
    cursor: pointer;
}

.add-duty-error {
    color: red;
}