input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.add-duty-form {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;

    & > label {
        margin-bottom: 1rem;
    }
}

.add-duty-input {
    margin-left: 0.5rem;
}